/* You can add global styles to this file, and also import other style files */
.boton,.contenedorformulario,.titulo{
    display: flex;
}
.titulo,.contenedorformulario{
    justify-content: center;
    align-items: center;
}
.contenedorformulario{
    height: 100vh;
    width: 100vw;
}
.titulo{
    margin-bottom: 2rem;
}
.boton{
    flex-direction: column;
}
